
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
*/
body{
    background-color: rgb(147, 163, 163);
    font-family: 'Caprasimo', cursive;
}
p{
    padding-top: 10px;
    font-weight:950;
    font-size: 40px;
    color: rgb(17, 61, 63);
}

.tituloTodos{
    font-size: 100px;
    color: rgba(red, green, rgb(92, 92, 129), 0)

}
.listaDeTareas{
    width: 450px;
    background-color:  rgb(147, 163, 163);
    border: 4px solid rgb(56, 88, 88);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
}
.ol{
    width: 30%;
    margin:auto;
}

span{
    display: flex;
   float: right;
   align-items: center;
   color: rgb(147, 163, 163);
   font-style: italic;
   font-weight: bolder;  
   cursor: pointer;
 
}
.li{
    border: none;
    background-color: rgb(147, 163, 163) ;
}
.li:hover .span{
    color:rgb(15, 4, 66);
}
input{
    border:none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color:rgb(206, 226, 226) ;
}
.tareasPendientes{
    font-size: small;
    color:white
}
button{
    margin: auto;
    margin-left: 10px;
    margin-left: 10px;
}